.container{
    width: 1226px;
    margin: 0 auto;
  }

  ul{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  p{
      margin: 0;
      padding: 0;
  }
  .fl{
      float: left;
  }
  .fr{
      float: right;
  }
  .hand_hover{
      cursor: pointer;
  }
  .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
  }
  .flex{
    display: flex;
    align-items: center;
  }
  .flex_between{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .span1 {
    width: 48px
}

.span2 {
    width: 110px
}

.span3 {
    width: 172px
}

.span4 {
    width: 234px
}

.span5 {
    width: 296px
}

.span6 {
    width: 358px
}

.span7 {
    width: 420px
}

.span8 {
    width: 482px
}

.span9 {
    width: 544px
}

.span10 {
    width: 606px
}

.span11 {
    width: 668px
}

.span12 {
    width: 730px
}

.span13 {
    width: 792px
}

.span14 {
    width: 854px
}

.span15 {
    width: 916px
}

.span16 {
    width: 978px
}

.span17 {
    width: 1040px
}

.span18 {
    width: 1102px
}

.span19 {
    width: 1164px
}

.span20 {
    width: 1226px
}
.rainbow-item-1{
    border-top-color: #ffac13;
}

.rainbow-item-2{
    border-top-color: #83c44e;
}

.rainbow-item-3{
    border-top-color: #2196f3;
}

.rainbow-item-4{
    border-top-color:#e53935;
}

.rainbow-item-5{
    border-top-color: #00c0a5;
}

.rainbow-item-6{
    border-top-color:#ffac13 ;
}

.rainbow-item-7{
    border-top-color:#83c44e ;
}

.rainbow-item-8{
    border-top-color: #2196f3;
}

.rainbow-item-9{
    border-top-color: #e53935;
}
